<div class="container" [ngClass]="{'dark-theme': changedTheme}">
    <div class="contain">
        <header>
            <h1>T&nbsp;O&nbsp;D&nbsp;O</h1>
            @if (!changedTheme) {
            <img (click)="changeTheme()" src="../../assets/images/icon-moon.svg" alt="night theme">
            }@else{
            <img (click)="changeTheme()" src="../../assets/images/icon-sun.svg" alt="light theme">
            }
        </header>
        <input class="newtask  field" type="text" placeholder="Create a new todo..." (keyup.enter)="addTask(newTaskInput)"
            [(ngModel)]="newTaskInput">

        <ul class="list" cdkDropList (cdkDropListDropped)="drop($event)">
            @for (task of showTaskList$; track $index) {
            @if(activeStatus === "all"){

            <li class="task field" cdkDrag>
                <input class="task__check" type="checkbox" [(ngModel)]="task.checked" (ngModelChange)="storeChecked()">
                <input [ngClass]="{'task__text--checked': task.checked}" [(ngModel)]="task.taskName" (ngModelChange)="edit()" class="task__text"
                    type="text" value={{task.taskName}}>
                <img (click)="delete($index)" class="task__img" src="../../assets/images/icon-cross.svg" alt="Close">
            </li>
            }
            @if(activeStatus === "active" && !task.checked){

            <li class="task field">
                <input class="task__check" type="checkbox" [(ngModel)]="task.checked" (ngModelChange)="storeChecked()">
                <input [ngClass]="{'task__text--checked': task.checked}" [(ngModel)]="task.taskName" class="task__text" type="text"
                    value={{task.taskName}}>
                <img (click)="delete($index)" class="task__img" src="../../assets/images/icon-cross.svg" alt="Close">

            </li>
            }
            @if(activeStatus === "complete" && task.checked){

            <li class="task field">
                <input class="task__check" type="checkbox" [(ngModel)]="task.checked" (ngModelChange)="storeChecked()">
                <input [ngClass]="{'task__text--checked': task.checked}" class="task__text" type="text"
                    value={{task.taskName}} disabled>
                <img (click)="delete($index)" class="task__img" src="../../assets/images/icon-cross.svg" alt="Close">

            </li>
            }
            }
            <div class="info field">
                <span class="info__left">{{leftCounter}} item left</span>
                @if (mediaChanged >= 600) {
                    <div class="status field">
                        <span [ngClass]="{'status__active': activeStatus === 'all'}" (click)="statusActive('all')"
                            class="status__span">All</span>
                        <span [ngClass]="{'status__active': activeStatus === 'active'}" (click)="statusActive('active')"
                            class="status__span">Active</span>
                        <span [ngClass]="{'status__active': activeStatus === 'complete'}" (click)="statusActive('complete')"
                            class="status__span">Completed</span>
                    </div>
                }
                <span class="info__completeclear" (click)="clearChecked()">Clear Completed</span>
            </div>
        </ul>

        @if (mediaChanged < 600) {
            <div class="status field">
                <span [ngClass]="{'status__active': activeStatus === 'all'}" (click)="statusActive('all')"
                    class="status__span">All</span>
                <span [ngClass]="{'status__active': activeStatus === 'active'}" (click)="statusActive('active')"
                    class="status__span">Active</span>
                <span [ngClass]="{'status__active': activeStatus === 'complete'}" (click)="statusActive('complete')"
                    class="status__span">Completed</span>
            </div>
        }
        

        <span class="
        helptext">Drag and drop to reorder list, double click to edit task. </span>
        <div class="attribution" [ngClass]="{'attribution__dark': changeTheme}">
            Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
            Coded by <a href="#">Andrés Felipe Forero Velásquez</a>.
          </div>

    </div>
</div>